<h1>Create a Starship</h1>

<form action="/starships" method="post">
  <label for="name">Ship Name:
    <input type="text" name="name" value="">
  </label>

  <label for="ship_class">Ship Class:
    <input type="text" name="ship_class">
  </label>

  <label for="location">Ship Location:
    <input type="text" name="location" value="">
  </label>

  <input type="submit" value="Create Starship" />

</form>
